core/src/main/docs/XmlRequest.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
    Document   : XmlRequest.xml
    Author     : Lipatov Nikita
    Description:
        Typical request from client to server.

    Example:
    <request>
    	<user id="23" login="admin"/>
    	<command>mkdir application</command>
    </request>
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="request" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="user" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute type="xs:string" name="id"/>
                        <xs:attribute type="xs:string" name="login"/>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="command" minOccurs="1" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
